body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    max-width: 100svw;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 15px;
    font-weight: 600;
}

input[type="text"] {
    width: 60%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #6c63ff;
}

button {
    padding: 10px 20px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5750e1;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100svw;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#pi-digits {
    white-space: pre-wrap;
    font-family: monospace;
    overflow-wrap: break-word;
    padding: 20px;
    margin-top: 80px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

@media (max-width: 768px) {
    .fixed {
        position: fixed;
        padding: 5px;
        max-width: 100svw;
    }
    .fixed h1 {
        font-size: 20px;
    }
    input[type="text"],
    button {
        width: 90%;
        max-width: none;
    }

    #pi-digits {
        font-size: 0.9rem;
        padding: 10px;
        margin-top: 20px;
    }
}
